
@{
    ViewData["Title"] = "Signup";
}

<form>
    <h3>Be the first to use our services</h3>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email"/>
    </div>
</form>

